// Importing
@import "../sass/Helpers/general";
@import "../sass/Layout/header";
@import "../sass/Layout/footer";

// Landing Section 
.landing{
    background-color: #f2f2f2;
}
// Content Section
.content{
    .container{
        .row{
            div{
                h1{
                    font-size: 50px;
                }
                a{
                    background-color: #{$main_color};
                    width: fit-content;
                    border-color: #{$main_color};
                    &:hover{
                        background-color: transparent !important;
                        color: #{$main_color};
                    }
                }
                img{
                    width: 440px;
                }
            }
            @media (max-width: 767px) {
                &{
                    flex-direction: column-reverse;
                    div{
                        text-align: center !important;
                        a{
                            margin: auto;
                        }
                        img{
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}
// Slider
.slider{
    padding-bottom: #{$padding};
    .swiper{
        .swiper-wrapper{
            .swiper-slide{
                img{
                    height: 100px;
                }
            }
        }
    }
}
//about us section
.About{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 70px;
} 
.container .p1{
    color: #EF395D;
    font-size: 20px;
}
.container .p2{
    color: #000;
    font-size: 35px;
    font-weight: bold;
} 
 .About .container i{
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 30px;
    color: #EF395D;
    @media (max-width: 767px) {
       &{
        margin: 20px 0 !important;
       } 
    }
} 
 .About .container a{
    text-decoration: none;
    color:#000;
}
